---
title: Trip to fiji!
---
<div class="profile">
  <div class="container">
      <h1>{{ title }}</h1>
      <div>
          Date: {{ i18n.date }} <br/>
          Body:
          <p>
          {{ i18n.body }}
          </p>
          
      </div>
  </div>
</div>
