<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, Uzu!</h1>
    <p>Uzu is a static site generator with built-in web server, file modification watcher, live reload, i18n, themes, and multi-page support.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

